@font-face {
    font-family: 'Proxima_Nova_Bold';
    src: url('../fonts/Proxima_Nova_Bold.eot');
    src: url('../fonts/Proxima_Nova_Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima_Nova_Bold.ttf') format('ttf'),
        url('../fonts/Proxima_Nova_Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova_Light';
    src: url('../fonts/Proxima_Nova_Light.eot');
    src: url('../fonts/Proxima_Nova_Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima_Nova_Light.ttf') format('ttf'),
        url('../fonts/Proxima_Nova_Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova_Regular';
    src: url('../fonts/Proxima_Nova_Regular.eot');
    src: url('../fonts/Proxima_Nova_Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima_Nova_Regular.ttf') format('ttf'),
        url('../fonts/Proxima_Nova_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova_Semibold';
    src: url('../fonts/Proxima_Nova_Semibold.eot');
    src: url('../fonts/Proxima_Nova_Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima_Nova_Semibold.ttf') format('ttf'),
        url('../fonts/Proxima_Nova_Semibold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
