//base
@import "base/reset.scss";
@import "base/typography.scss";
//components
@import "components/buttons.scss";
@import "components/cover";
@import "components/dropdown";
@import "components/carousel";
//layout
@import "layout/footer";
@import "layout/header";
@import "layout/navigation";
//themes
@import "themes/admin";
@import "themes/theme";
//pages
@import "pages/index";
@import "pages/description-project";
@import "pages/company";
@import "pages/contacts";
@import "pages/partner";
@import "pages/list-projects";
@import "pages/property-developers";
//utils
@import "utils/functions";
@import "utils/helpers"; 
@import "utils/mixins";
@import "utils/variables";
//vendors
@import "vendors/bootstrap";
@import "vendors/jquery-ui"; 

$bold: 'Proxima_Nova_Bold';
$light: 'Proxima_Nova_Light';
$regular: 'Proxima_Nova_Regular';
$semi: 'Proxima_Nova_Semibold';

body{
    font-family: $regular !important;
}

a{
    display: block;
    text-decoration: none;
   &:hover{
    text-decoration: none;
   }
}

*{
    scroll-behavior: smooth;
    outline: none;
}

.container{
    max-width: 1170px !important;
} 

ul{
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.title-page{
    font-size: 48px;
    font-weight: bold;
    margin-top: -15px;
}

@media(max-width:425px){
    .title-page{
        font-size: 31px;
        margin: 0 0 15px ;
    }
}
