.company-page{
    padding-bottom: 70px;
    .advantages{
        margin-top: 15px;
        background-image: url(../img/fon-1-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 30px 0;
        .icon{
           margin-bottom: 15px; 
        }
        .title-icon{
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    .article{
        .title-article{
            font-size: 36px;
            font-weight: bold;
            margin: 15px 0;
        }
        .part-img-text{
            margin: 30px 0;
            .img{
                width: calc(40% - 20px);
                margin-right: 40px;
            }
            .text{
                width: calc(60% - 20px);
                .title{
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
        }
        ul{
            padding-left: 30px;
            list-style-image: url(../img/tick.png);
            li{
                padding-left: 10px;
            }
        }
    }
}

@media(max-width:768px){
    .company-page .article .part-img-text{
        flex-wrap: wrap;
        .img {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 15px;
        }
        .text {
            width: 100%;
        }
    }
}

@media(max-width:425px){
    .company-page .article .title-article{
        font-size: 24px;
    }
}