.requisites{
    padding-bottom: 70px;
    .title{
        font-size: 36px;
        font-weight: bold;
        margin: 30px 0;
    }
}

.contacts-page{
    .persons{
        margin-bottom: 100px;
        .item{
            .img{
                max-height: 300px;
                overflow: hidden;
                width: calc(40% - 15px);
                margin-right: 30px;
            }
            .info{
                width: calc(60% - 15px);
                .name{
                    font-size: 24px;
                    color: #0e182d;
                    font-weight: bold;
                }
                .position{
                    text-transform: lowercase;
                    color: #172667;
                    font-weight: bold;
                    margin-top: -5px;
                }
                p{
                    margin-top: 20px;
                    color: #252539;
                }
            }
            .contacts{
                .tel{
                    font-size: 22px;
                    color: #0e182d;
                    font-weight: bold;
                }
                .mail{
                    color: #36437b;
                    font-weight: bold;
                }
            }
        }
    } 
    .adventages{
        background-image: url(../img/fon-1.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        padding: 20px 0;
        .item{
            background-color: white;
            background-position: right bottom;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 20px 30px;
            transition: cubic-bezier(.46,-0.43,.62,1.46);
            .icon{
                position: relative;
                transition: all.4s;
                height: 100px;
                width: 100px;
                border-radius: 70px;
                margin-right: 15px;
                box-shadow: 0 3px 8px #5abfeb;
                background: linear-gradient(to bottom,#68c7f0, #00a3e9);
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .title{
                font-size: 30px;
                font-weight: bold;
                color: #0e182d;
            }
            a{
                color: #0e182d;
            }
        }
        .item:hover .icon{
            transform: scale(1.05);
            box-shadow: 0 5px 10px #44bcef;
        }
        .col-lg-4:nth-child(1) .item{
            background-image: url(../img/1.jpg);
        }
        .col-lg-4:nth-child(2) .item{
            background-image: url(../img/2.jpg);
        }
        .col-lg-4:nth-child(3) .item{
            background-image: url(../img/3.jpg);
        }
    }
}

@media(max-width:1024px){
    .contacts-page .adventages .item{
        text-align: center;
        flex-wrap: wrap;
        .icon{
            margin: 0 auto;
        }
        .info{
            width: 100%;
            margin-top: 15px;
        }
        .title{
            font-size: 24px;
        }
    } 
}

@media(max-width:768px){
    .contacts-page .adventages .item{
        text-align: left;
        flex-wrap: nowrap;
        .icon{
            margin-right: 30px;
        }
        .info{
            width: 100%;
            margin-top: 0;
        }
    } 
}


@media(max-width:425px){
    .contacts-page{
        .persons{
            margin-bottom: 50px;
        .item{
            flex-wrap: wrap;
            margin-bottom: 15px;
            .img{
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
            }
            .info{
                width: 100%;
                .name{
                    font-size: 24px;
                    color: #0e182d;
                    font-weight: bold;
                }
                .position{
                    text-transform: lowercase;
                    color: #172667;
                    font-weight: bold;
                    margin-top: -5px;
                }
                p{
                    margin-top: 20px;
                    color: #252539;
                }
            }
        }
    }
    }
    .contacts-page .adventages .item{
        text-align: center;
        flex-wrap: wrap;
        .icon{
            margin: 0 auto;
        }
        .info{
            width: 100%;
            margin-top: 15px;
        }
    } 
}