.description-page{
    .description-img{
        margin-top: 30px;
        padding: 150px 0;
        min-height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: #fff;
        .title{
            font-size: 36px;
            font-weight: bold;
        }
        .text{
            margin: 50px auto 0;
            font-size: 18px;
            max-width: 800px;

        }
    }
    .description-section{
        text-align: center;
        .title{
            font-size: 30px;
            font-weight: bold;
            margin: 50px 0 30px;
        }
        p{
            font-size: 18px;
        }
    }
    .group-button{
        margin: 60px 0;
        .button_2{
            max-width: 100%;
            width: calc(33.3% - 30px);
            margin: 0 15px;
        }
    }
    .description-list{
        background-image: url(../img/fon-1-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px 0 60px;
        .title{
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
        }
        .list{
            p{
                position: relative;
                padding: 8px 0 8px 54px;
                margin-bottom: 6px;
                span{
                    font-weight: bold;
                }
            }
            p::before{
                content: '';
                background-image: url(../img/list.png);
                background-repeat: no-repeat;
                background-size: contain;
                height: 35px;
                width: 35px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    .mini-offer{
        background: #172667;
        padding: 15px 0;
        .title{
            color: #fff;
            font-size: 30px;
            font-weight: bold;
        }
        form{
            margin-left: auto;
            input, button{
                width: calc(33.33% - 20px);
                margin-left: 15px;
            }
            button{
                margin-left: 20px;
                box-shadow: 0 4px 7px #9edcf678;;
            }
            input{
                padding: 17px 15px;
                height: 65px;
                border-radius: 7px;
                font-size: 18px;
                border: none;
            }
        }
    }
    .other-options{
        .title{
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin: 30px 0 0;
        }
        
    }
}


@media(max-width: 1024px){
    .description-page .mini-offer .title{
        font-size: 21px;
    }
}

@media(max-width: 768px){
    .description-page .mini-offer .title{
        font-size: 30px;
    }
    .description-page .mini-offer form{
        margin: 0 auto 15px;
        button{
            width: 100%;
            margin: 0;
        }
        input{
        margin-bottom: 15px;
        width: 100%;
        margin-left: 0;
    }
    } 

    .description-page .mini-offer .title{
        text-align: center;
        margin: 15px 0;
    }
}

@media(max-width: 640px){
    .description-page .group-button{
        flex-wrap: wrap;
        .button_2{
            width: 100%;
            margin: 15px 0;
        }
    }
}


@media(max-width: 375px){
    .description-page .description-img .title{
        font-size: 27px;
    }
}
