.main-page{
    .main_first_slider{
        .slick-arrow{
            top: 50%;
            position: absolute;
            z-index: 2;
            opacity: 0.5;
            transition: all 0.4s;
        }
        .slick-arrow:hover{
            opacity: 1;
        }
        .arrow_right{
            right: 150px;
            transform: rotate(180deg);
        }
        .arrow_left{
            left: 150px;
        }
        .item{
            padding: 100px 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .info{
            width: calc(100% - 120px);
            margin: 0 auto;
            .button{
                max-width: 300px;
            }
            .text{
                margin-bottom: 40px;
                font-size: 48px;
                max-width: 500px;
            }
        }
        .custom-cont-dots{
            width: 100%;
            left: 0;
            position: absolute;
            bottom: 40px;
            .cont-slick{
                max-width: 950px;
                margin: 0 auto;
                ul{
                    display: flex;
                }
                li{
                    height: 25px;
                    width: 25px;
                    border-radius: 20px;
                    background: #d5dcf2;
                    margin-right: 25px;
                    button{
                        display: none;
                    }
                }
                .slick-active{
                    background: none;
                    border: 2px solid #d5dcf2;
                }
            }
        }
    }
    .advantages{
        padding: 20px 0 60px;
        .icon{
            max-width: 120px;
            margin: auto;
        }
        .title-icon{
            text-align: center;
            font-weight: bold;
            margin: 15px auto 0;
            font-size: 21px;
            max-width: 200px;
            font-weight: bolder;
        }
    }
    .title-sec{
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        margin: 40px 0;
    }
    .services{
        background-image: url(../img/fon-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px 0 60px;
        .info{
            background: #fff;
            padding: 35px 30px;
            .title{
                font-weight: bolder;
                font-size: 24px;
            }
            .subtitle{
                margin-top: 15px;
            }
            ul{
                padding-left: 54px;
                li{
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 10px 0px;
                }
                li::before{
                    content: '';
                    height: 35px;
                    left: -55px;
                    width: 35px;
                    position: absolute;
                    background-image: url(../img/checked.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .search-service{
            margin-top: 60px;
            text-align: center;
            width: 100%;
            .title{
                font-size: 30px;
                font-weight: bolder;
            }
            .subtitle{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .button{
                max-width: 370px;
                margin: 0 auto;
            }
        }
    }
    .projects{
        padding-bottom: 70px;
        .bottom__main-slider{
            position: relative;
            margin-top: 30px;
            display: flex;
            align-items: flex-end;
            .info{
                position: relative;
                background: #fff;
                padding: 30px 60px;
                max-width: 540px;
                width: 100%;
                z-index: 10;
                margin-top: -230px;
                margin-right: 20px;
                margin-left: -60px;
                box-shadow: 0 0 30px #b1b1b1a4;
                .title{
                    font-size: 36px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .text{
                    columns: 2;
                    p{
                        margin-bottom: 10px;
                    }
                    span{
                        font-weight: bold;
                    }
                }
                .cost{
                    margin-top: 15px;
                    span{
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }
            .bottom__main-slider__right{
                max-width: 630px;
                margin-left: auto;
                .button{
                    max-width: 370px;
                    margin-top: 30px;
                }
                .projects-preview-slider{
                    .item{
                        max-height: 100px;
                        overflow: hidden;
                        height: 100%;
                        margin: 3px;
                        border: 2px solid #fff;
                    }
                    .item.slick-current{
                        border: 2px solid #44bbee;
                    }
                }
            }
        }
        .projects-main-slider{
            .item{
                max-height: 600px;
                overflow: hidden;
            }
            .arrows_slider2{
                position: absolute;
                z-index: 10;
                top: 50%;
            }
            .arrows_slider2.arrow_left{
                transform: rotate(180deg);
                left: -50px;
            }
            .arrows_slider2.arrow_right{
                right: -50px;
            }
        }
    }
}

@media(max-width:1400px){
    .main-page .main_first_slider{
        .arrow_right{
            right: 130px;
        }
        .arrow_left{
            left: 130px;
        }
        .info{
            max-width: 850px;
        }
    }
}


@media(max-width:1024px){
    .main-page .main_first_slider{
        .arrow_right{
            right: 30px;
        }
        .arrow_left{
            left: 30px;
        }
        .info{
            max-width: 850px;
        }
    }
    .main-page .services{
        background-position: right;
    }
    .main-page .projects-main-slider{
        max-width: 900px;
        margin: 0 auto;
    }
    .main-page .projects .projects-main-slider{
        .arrows_slider2.arrow_right{
            right: -35px;
        }
        .arrows_slider2.arrow_left{
            left: -35px;
        }
    } 
    .main-page .projects .bottom__main-slider .info{
        margin-left: 0;
        padding: 30px 20px;
        .title{
            font-size: 24px;
        }
    }
}

@media(max-width:768px){
    .main-page .main_first_slider .info .container{
        text-align: center;
        .text{
            max-width: 90%;
            margin: 0 auto 30px;
        }
        .button{
            margin: 0 auto;
        }
    }
    .main-page .main_first_slider .custom-cont-dots .cont-slick{
        max-width: calc(100% - 70px)
    }
    .main-page .projects-main-slider{
        max-width: 670px;
    }
    .main-page .projects .bottom__main-slider .bottom__main-slider__right{
        max-width: 350px;
    }
}

@media(max-width:640px){
    .main-page .projects-main-slider {
        max-width: calc(100% - 50px);
    }
    .main-page .projects .bottom__main-slider{
        flex-wrap: wrap-reverse;
    }
    .main-page .projects .bottom__main-slider .info{
        margin-right: 0;
        margin-top: 30px;
        max-width: 100%;
    }
    .main-page .projects .bottom__main-slider .bottom__main-slider__right{
        max-width: 100%;
    }
}

@media(max-width:425px){
    .main-page .main_first_slider .info{
        .text{
            margin: 60px auto 30px !important;
            font-size: 31px;
        }
    }
    .main-page .main_first_slider{
        .item{
            padding: 70px 0 100p;
        }
    }
    .main-page .title-sec{
        font-size: 32px;
    }
    .main-page .projects .bottom__main-slider .bottom__main-slider__right .button{
        margin: 30px auto 0;
    }
    .offer .right-part .person{
        max-width: 270px;
    }
    .offer .right-part .circle{
        bottom: -70%;
        right: -30%;
    }
}

@media(max-width:375px){
    .main-page .main_first_slider .info{
        max-width: calc(100% - 40px);
        .text{
            font-size: 24px;
        }
        .button{
            max-width: calc(100% - 30px);
        }
    }
    .main-page .main_first_slider{
        .arrow_left{
            left: 15px;
        }
        .arrow_right{
            right: 15px;
        }
    } 
}

@media(max-width:340px){
    .main-page .advantages .title-icon{
        font-size: 14px;
    }
    .main-page .title-sec{
        font-size: 28px;
    }
    .main-page .services .search-service .title{
        font-size: 27px;
    }
    .main-page .projects .bottom__main-slider .info .text{
        columns: 1;
    }
}