.partners-page{
    .description-page{
        margin: 15px 0 30px;
        color: #252539;
    }
    .cont{
        padding-bottom: 130px;
        .item{
            border-bottom: 1px solid #e2e4ea;
            padding: 20px 0;
            .info{
                width: calc(60% - 30px);
                .title{
                    margin-top: 5px;
                    font-weight: bold;
                    font-size: 30px;
                    margin-bottom: 15px;
                }
                .description{
                    margin-top: 15px;
                    color: #263471;
                }
                p{
                    margin-top: 15px;
                    margin-bottom: 0px;
                }
            }
            .img{
                width: calc(40% - 30px);
                margin-right: 60px;
                min-height: 250px;
                overflow: hidden;
                position: relative;
                box-shadow: 0 0 30px rgba(224, 224, 224, 0.692);
                img{
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 50%;
                }
            }
        }
        .item:nth-last-child(1){
            border-bottom: 1px solid #fff;
        }
    }
}

@media(max-width:768px){
    .partners-page .cont .item{
        .img{
            width: calc(50% - 7px);
            margin-right: 14px;
        }
        .info{
            width: calc(50% - 7px);
        }
    }
}

@media(max-width:640px){
    .partners-page .cont .item{
        flex-wrap: wrap;
        .img{
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }
        .info{
            width: 100%;
        }
    }
}
