.projects-main-page{
    .mini-offer{
        margin: 30px 0;
        text-align: center;
        padding: 40px 0 30px;
        background-image: url(../img/fon4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        .button_2{
            margin: 20px auto 0;
            max-width: 260px;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            max-width: 800px;
            margin: 0 auto;
        }
    }
    .tab-content{
        padding-bottom: 130px;
        #dubai-tab .item{
            border-top: 1px solid #e2e4ea;
            padding: 20px 0;
            margin-top: 20px;
            .info{
                width: calc(60% - 30px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title{
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 30px;
                    margin-bottom: 15px;
                }
            }
            .img{
                width: calc(40% - 30px);
                margin-right: 60px;
                max-height: 400px;
                overflow: hidden;
            }
        }
        #dubai-tab .item:nth-last-child(1){
            border-bottom: 1px solid #e2e4ea;
        }
    }
    .cont__slider-project:nth-last-child(1){
        border-bottom: 1px solid #e2e4ea;
    }
}

@media(max-width:768px){
    .projects-main-page #dubai-tab .item{
        .img{
            width: calc(50% - 7px) !important;
            margin-right: 14px !important;
        }
        .info{
            width: calc(50% - 7px) !important;
        }
    }
}

@media(max-width:640px){
    .projects-main-page #dubai-tab .item{
        flex-wrap: wrap;
        .img{
            width: 100% !important;
            margin-right: 0 !important;
            margin-bottom: 15px !important;
        }
        .info{
            width: 100% !important;
        }
    }
}
