.button{
    padding: 20px;
    text-align: center;
    border: none;
    box-shadow: 0 7px 10px #9edcf6cc;
    background: linear-gradient(to bottom,#68c7f0, #00a3e9);
    color: #fff;
    border-radius: 7px;
    min-width: 200px;
    transition: all .4s;
    &:focus{
        outline: none;
    }
}

.button:hover{
    color: #fff;
    box-shadow: 0 5px 7px #8cc4dbcc;
    transform: scale(1.02);
}

button:focus{
    outline: none;
}

.button_2{
    padding: 20px 0;
    text-align: center;
    border: 2px solid #21aeeb;
    border-radius: 5px;
    max-width: 220px;
    color: #0e182d;
    font-size: 18px;
    font-weight: bold;
    transition: all.4s;
}
.button_2:hover{
    background: #21aeeb;
    color: #fff;
}