.cont__slider-project{
    border-bottom: 1px solid #e2e4ea;
    padding: 30px 0;
    &:nth-last-child(1){
        border-bottom: none;
    }
    .info{
        width: calc(50% - 30px);
        .title-project{
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 15px;
        }
        .project__data{
            margin: 20px 0;
            background: #f4f7ff;
            padding: 34px;
            columns: 2;
            p{
                margin: 7px 0;
            }
            span{
                font-weight: bold;
            }
        }
        .cost{
            span{
                font-size: 24px;
                font-weight: bold;
            }
        }
        .button_2{
            max-width: 375px;
            width: 100%;
            margin: 20px 0;
        }
    }
    .slider{
        width: calc(50% - 30px);
        margin-right: 60px;
        .main-slider{
            .item{
                max-height: 350px;
                overflow: hidden;
            }
        }
        .slider-preview{
            width: calc(100% - 80px);
            margin: 15px auto;
            .item{
                max-height: 70px;
                overflow: hidden;
                img{
                    height: 100%;
                }
            }
            .slick-arrow{
                position: absolute;
                top: 20px;
                height: 35px;
            }
            .arrow_left{
                left: -35px;
                transform: rotate(180deg);
            }
            .arrow_right{
                right: -35px;
            }
            .slick-current.slick-active{
                border: 2px solid #0eb0ea;
            }
            .item{
                border: 2px solid #fff;
               margin: 3px;
            }
        }
    }
}


@media(max-width: 1024px){
    .cont__slider-project .slider .slider-preview .item{
        max-height: 50px;
    }
}

@media(max-width: 768px){
    .cont__slider-project{
        flex-wrap: wrap;
        .slider{
            width: 100%;
            margin: 15px 0;
            .slider-preview .item{
                max-height: 90px;
            }
            .slider-preview .slick-arrow{
                top: 32%;
            }
        }
        .info{
            width: 100%;
        }
    }
}

@media(max-width: 540px){
    .cont__slider-project .info .project__data{
        columns: 1;
    }
}

@media(max-width: 375px){
    .cont__slider-project .slider .slider-preview{
        .item{
            max-height: 70px;
        }
        .slick-arrow{
            top: 25%;
        }
    } 
}

@media(max-width: 320px){
    .cont__slider-project .slider .slider-preview .item{
        max-height: 60px;
    }
}
