.offer{
    background-image: url(../img/fon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    overflow: hidden;
    form{
        background: #fff;
        padding: 30px 40px;
        width: 100%;
        .title{
            font-size: 48px;
            font-weight: bold;
            line-height: 1;
        }
        .subtitle{
            margin-bottom: 0;
        }
        p{
            margin-bottom: 13px;
            margin-top: 40px;
            margin-left: 10px;
            font-weight: bold;
        }
        input{
            padding: 20px 30px;
            background: #ecf8ff;
            border: none;
            width: 100%;
            &::placeholder{
                color: #6a6f7e;
            }
        }
        button{
            margin-top: 30px;
            max-width: 270px;
            width: 100%;
        }
    }
    .right-part{
        position: relative;
        .circle{
            position: absolute;
            bottom: -40%;
            width: 100%;
            svg{
                width: 100%;
            }
            .circle1{
                animation: circle1 6.5s infinite linear;
            }
            .circle2{
                animation: circle2 6s infinite linear;
            }
            .circle3{
                animation: circle3 5.5s infinite linear;
            }
        }
        .person{
            max-width: 420px;
            width: 100%;
            position: relative;
            z-index: 5;
            margin-left: 50%;
    transform: translate(-50%);
        }
        .figure{
            position: absolute;
            top: 80px;
            display: flex;
            img{
                max-width: 65px;
                width: 100%;
            }
            .text{
                text-align: right;
                margin-right: 15px;
                margin-top: -15px;
                font-size: 18px;
                font-weight: bold;
                span{
                    font-size: 24px;
                }
            }
        }
    }
}

@keyframes circle1{
    0%{
        opacity: 0;
        transform: rotate(50%);
    }
    25%{
        opacity: 1;
        transform: scale(0.8) rotate(50%);
    }
    50%{
        transform: scale(0.7) rotate(50%);
    }
    98%{
        transform: scale(0.5) rotate(50%);
    }
    100%{
        opacity: 0;
    }
}

@keyframes circle2{
    0%{
        opacity: 0;
        transform: rotate(50%);
    }
    25%{
        opacity: 1;
        transform: scale(0.8) rotate(50%);
    }
    50%{
        transform: scale(0.7) rotate(50%);
    }
    98%{
        transform: scale(0.5) rotate(50%);
    }
    100%{
        opacity: 0;
    }
}

@keyframes circle3{
    0%{
        opacity: 0;
        transform: rotate(50%);
    }
    25%{
        opacity: 1;
        transform: scale(0.8) rotate(50%);
    }
    50%{
        transform: scale(0.7) rotate(50%);
    }
    98%{
        transform: scale(0.5) rotate(50%);
    }
    100%{
        opacity: 0;
    }
}

.main__map-section{
    background-image: url(../img/fon3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 160px;
    .info{
        width: 100%;
        background: #fff;
        padding: 20px 25px;
        .title{
            font-size: 48px;
            font-weight: bold;
        }
        .address{
            margin-top: 5px;
            font-size: 18px;
        }
        .contacts-tel{
            margin-top: 15px;
            font-size: 30px;
            color: #252539;
            font-weight: bold;
        }
        .contacts-mail{
            font-size: 18px;
            font-weight: bold;
        }
        .button{
            margin-top: 45px;
        }
    }
}

.news{
    padding-bottom: 60px;
    .title-sec{
        text-align: left !important;
        font-size: 44px !important;
        margin: 60px 0 15px !important;
        font-weight: bold;
    }
    .slider-news .item{
        max-height: 250px;
        overflow: hidden;
    }
    .slick-dots{
                display: flex;
                margin-top: 20px;
            li{
                height: 20px;
                width: 20px;
                border-radius: 20px;
                background: #d5dcf2;
                margin-right: 15px;
                button{
                    display: none;
                }
            }
            li:nth-child(1){
                margin-left: auto;
            }
            li:nth-last-child(1){
                margin-right: auto;
            }
            .slick-active{
                background: none;
                border: 2px solid #d5dcf2;
            }
    }
    .info{
        padding: 5px 0;
        .date{
            color: #92929c;
            margin-bottom: 15px;
        }
        .title{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    .currency{
        background: #fff;
        padding: 20px 10px;
        box-shadow: 0 0 40px rgba(204, 204, 204, 0.74);
        .string{
            margin-bottom: 16px;
            .flag{
                margin-right: 15px;
            }
            span{
                margin-right: 20px;
                font-weight: bold;
            }
        }
    }
}

hr{
    margin-top: 3px !important;
}

footer{
    background: #172667;
    .contacts{
        .contacts-tel{
            color: white !important;
        }
        .contacts-mail{
            color: #00a3e9 !important;
        }
    }
    .button{
        box-shadow: 0 4px 6px #9edcf681;
    }
    .text{
        color: #fff;
    }
}

.bottom-footer{
    padding: 20px 0;
    p{
        margin: 0;
        color: #aeb4b8;
    }
    ul{
        display: flex;
        li{
            a{
                color: #aeb4b8;
                transition: all.4s;
                &:hover{
                    color: #7ba2bd;
                }
            }
        }
        li:nth-child(1){
            margin-left: auto;
            margin-right: 70px;
        }
    }
}

@media(max-width:1024px){
    .offer .right-part .circle{
        right: -25%;
    }
    .offer .right-part .person{
        transform: translate(-25%);
    }
    .offer form .title{
        font-size: 32px;
        margin-bottom: 15px;
    }
    .offer .right-part .person{
        max-width: 380px;
    }
    .news .title-sec{
        font-size: 32px !important;
    }
}

@media(max-width:768px){
    .offer{
        background-position: top right;
        .right-part .circle{
            right: -10%;
        }
        .right-part .figure{
            left: 60px;
        }
    } 
    .mw100{
        flex: 0 0 100%;
            max-width: 100%;    
    }
}

@media(max-width:425px){
    .offer .right-part .figure{
        left: 15px;
    }
    .offer .right-part .circle{
        left: 0;
    }
    .offer .right-part .figure .text span{
        font-size: 18px;
    }
    .offer .right-part .figure img{
        max-width: 45px;
    }
    .bottom-footer ul li:nth-child(1){
        margin-left: 0;
    }
}

@media(max-width:320px){
    .offer form{
        padding: 25px;
        .title{
            font-size: 27px;
        }
    }
    .offer .right-part .person{
        max-width: 230px !important;
    }
    .offer .right-part .figure img{
        display: none;
    }
}