.main-content{
    padding: 15px 0px 0;
    .logo{
        max-width: 90px;
    }
    .text{
        margin-left: 15px;
        span{
            font-weight: bold;
        }
        p{
            margin-bottom: 0;
            color: #ccccd0;
        }
    } 
    .contacts{
        text-align: right;
        .contacts-tel{
            font-size: 22px;
            color: #252539;
        }
        .contacts-mail{
            color: #172667;
        }
    }
    .main-content-bottom{
        margin-top: 15px;
        background: #172667;
        ul{
            display: flex;
            align-items: center;
            margin-left: -15px;
            li{
                a{
                    padding: 20px 30px;
                    color: #fff;
                    transition: all.4s;
                    &:hover{
                        color: #b3c1ff;
                        text-shadow: 0 0 5px #b3c1ff9f;
                    }
                }
            }
            li:nth-child(1) a{
                padding-left: 15px;
            }
        }
        .socials{
            p{
                color: #fff;
                margin: 0px 20px 0px auto;
            }
            a{
                margin-right: 15px;
                svg{
                    transition: all.4s;
                    fill: #fff;
                }
            }
            a:hover svg{
                fill: #b3c1ff;
            }
        }
    }
}

.search{
    position: relative;
    input{
        background: #f4f7ff;
        padding: 20px;
        width: 100%;
        border: none;
        position: relative;
        border-radius: 5px;
    }
    .search-btn{
        background-image: url(../img/magnifying-glass.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        padding: 10px;
        right: 30px;
        top: 20px;
        position: absolute;
        border: none; 
    }
}


@media(max-width:1024px){
    .main-content .contacts .contacts-tel{
        font-size: 18px;
    }
    .main-content .text {
        max-width: 130px;
        width: 100px;
        p{
            font-size: 14px;
        }
    }
}

@media(max-width:768px){
    .main-content .maxw768{
        margin-top: 15px;
    }
    .main-content .main-content-bottom ul li a{
        padding: 15px;
    }
    .main-content .text p {
        display: none;
    }
    
}

@media(max-width:640px){
    .main-content{
        .maxw768{
            display: none;
        }
        .search{
            margin-top: 15px;
            .search-btn{
                padding: 13px;
                top: 20px;
            }
        }
        .main-content-bottom{
            display: none;
        }
    } 
    header{
        position: relative;
        background: #fff;
        box-shadow: 0 0 20px rgba(155, 155, 155, 0.548);
    }
    .main-content{
        padding: 20px 0;
    }
    .pos_absol-cont-mob-button{
        position: fixed;
        top: 30px;
        width: 40px;
        height: 30px;
        right: 30px;
        z-index: 100;
            .mob-button{
                position: relative;
                span{
                    position: absolute;
                    right: 0;
                    display: inline-block;
                    height: 2px;
                    width: 40px;
                    background: #172667;
                }
                span:nth-child(1){
                    top: 0px;
                }
                span:nth-child(2){
                    top: 14px;
                }
                span:nth-child(3){
                    top: 29px;
                }
            }
    }
}

@media(max-width:425px){
    .pos_absol-cont-mob-button{
        position: fixed;
        top: 30px;
        right: 15px;     
    }
    .main-content .search{
        input{
            padding: 10px 15px;
        }
    }
    .main-content .search{
        .search-btn{
            padding: 13px;
            top: 10px;
            right: 20px;
        }
    }
}
@media(max-width:375px){
    .main-content .search{
        display: none;
    }
}

@media(max-width:320px){
    header{
        .text{
            img{
                width: 100%;
            }
        }
        .main-content .logo{
            max-width: 60px;
        }
    }
}
