.mob-menu {
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.8s;
    height: 100vh;
    z-index: 20;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.637);
    min-width: 300px;
    a{
        padding: 5px 15px;
    }
    a:hover{
        background: rgba(235, 235, 235, 0.856);
    }
    .menu-close{
        &:hover{
            background: none;
        }
        svg{
            margin-left: 90%;
            margin-top: 10px;
        }
    }
    .contacts{
        text-align: left;
        margin-bottom: 15px;
        .contacts-tel{
            font-size: 22px;
            color: #252539;
        }
        .contacts-mail{
            margin-top: -10px;
            color: #172667;
        }
    }
    .menu-list{
        p{
            margin-bottom: 0px;
        }
        .card-body{
            padding: 0px !important;
        }
        .collapse-list{
            position: relative;
        }
        .collapse-list::after{
            content: '';
            position: absolute;
            left: 95px;
            top: 15px;
            height: 6px;
            width: 14px;
            background-image: url(../img/bottom-arrow.png);
            background-repeat: no-repeat;

        }
        .card{
            border-bottom: none;
            &:nth-last-child(1){
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
    }
    .socials{
        p{
            color: #172667;
            margin-bottom: 0;
        }
        svg{
            fill: #007bff;
            transition: all.4s;
        }
        a:hover{
            background: none;
            svg{
                fill: #172667;
            }
        }
    }
    .search{
        display: none;
    }
}

@media(max-width:390px){
    .mob-menu{
        .search{
            display: block;
        }
    }
}

.mob-menu.nav-open {
    right: 0;
    z-index: 10000;
}

.mob-trigger--close + .submenu{
    display: none;
}

.mob-trigger--close.mob-trigger--open + .submenu{
    display: block;
    background: rgba(240, 240, 240, 0.335);
}

body.open-mob-menu::after {
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-out 0s;
    transition: opacity 0.4s ease-out 0s;
}



body::after {
    content: '';
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.69);
}

.dropdown{
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding-left: 30px;
    a{
        padding: 20px 0 !important;
    }
}
.dropdown-menu.show{
    left: auto !important;
    right: 30%;
    a{
        color: #172667 !important;
        padding: 5px 7px !important;
    }
    a:hover{
        background: rgba(236, 236, 236, 0.925);
    }
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-toggle::before{
    content: '';
    height: 6px;
    width: 16px;
    margin-left: 15px;
    margin-top: -3px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/bottom-arrow.png);
}

footer .dropdown-toggle::before{
    transform: rotate(180deg);
}


.breadcrumb{
    background: none !important;
    padding: 0 !important;
    margin-top: 18px;
    .breadcrumb-item{
        padding: 10px 13px 10px 0;
        background: #f4f7ff;
        display: flex;
        a{
            color: #172667 !important;
        }
    }
    .breadcrumb-item:nth-child(1){
        padding-left: 13px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .breadcrumb-item:nth-last-child(1){
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.breadcrumb-item + .breadcrumb-item::before{
    content: '-';
}

 .pagination{
    max-width: 440px;
    margin: 70px auto;
    border-radius: 40px;
    box-shadow: 0 4px 25px rgba(211, 211, 211, 0.246);
        li:nth-child(1){
            margin-left: auto;
            .page-link{
                margin-right: 10px;
                color: #9ea2aa;
                font-size: 18px;
            &:hover{
                transform: scale(1);
                color: #02b5f5;
            }
        }
    }
        li:nth-last-child(1){
            margin-right: auto;
            .page-link{
                margin-left: 10px;
                color: #9ea2aa;
                font-size: 18px;
                &:hover{
                    transform: scale(1);
                    color: #02b5f5;
                }
            }
        }
        .page-link:active, .page-link:focus{
            border-color: transparent !important;
            box-shadow: none;
            outline: none;
        }
        .page-item.active .page-link{
            color: #02b5f5;
            background: none;
        }
        .page-link{
            background: none;
            border: none;
            padding: 13px 17px;
            transition: all.4s;
            color: #252539;
            font-weight: bold;
            font-size: 22px;
        }
        .page-link:hover{
            transform: scale(1.3);
        }
}

.nav-tabs{
    border: none;
    margin-bottom: 20px;
    .nav-link{
        border: none;
        background: #f4f7ff;
        padding: 25px 70px;
        color: #172667;
        border-radius: 5px;
    }
    .nav-link.active{
        border: none !important;
        background: #172667;
        color: #fff;
    }
}

@media(max-width:425px){
    .nav-tabs .nav-link{
        padding: 20px 40px;
    }
    .pagination{
        margin: 40px 0;
        .page-link{
            padding: 10px;
        }
    }
}

@media(max-width:320px){
    .pagination li:nth-child(1) .page-link {
       margin-right: 0px;
       margin-top: 7px;
        font-size: 12px;
    }
    .pagination li:nth-last-child(1) .page-link {
        margin-left: 0px;
         font-size: 12px;
         margin-top: 7px;
     }
}